:root {
  --main-color: #64e2ae;
  --main-color-lighter: rgb(85, 194, 149);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  height: 400px;
  width: 100%;
  box-shadow: .1px 1px 5px 1px rgba(0, 0, 0, .1);
}

img {
  width: 100%;
  height: auto;
}

.content-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 2rem 0;
  width: 100%;
}

.form {
  width: 90%;
}

label {
  display: block;
  width: 100%;
  box-shadow: .1px 1px 5px 1px rgba(0, 0, 0, .1);
  border-radius: .5rem;
  margin-bottom: 1rem;
  padding: .5rem 0 .5rem .5rem;
}

input {
  border: none;
  width: 100%;
  padding: .5rem 0;
  outline: none;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 1rem 0;
  border-radius: .5rem;
  border: none;
  background-color: var(--main-color);
  color: #FFF;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: .3s;
}

button:hover {
  background-color: var(--main-color-lighter);
}

.result-box {
  box-shadow: .1px 1px 5px 1px rgba(0, 0, 0, .1);
  width: 90%;
  height: 4rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
  
}

.result-box .text{
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
}

.result-box .text p {
  margin-left: .5rem;
}

.result-box .number {
  font-size: 1.5rem;
  font-weight: 500;
}

@media screen and (max-width: 765px) {
  img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .content-box {
    flex-direction: row;
  }

  .content-img {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    order: 2;
  }

  .content-data {
    order: 1;
    width: 50%;
  }

  .form {
    width: 80%;
  }

  .result-box {
    width: 80%;
  }
}

@media screen and (min-width: 968px) {
  .container {
    margin: auto;
  }
}